.hero{
  &--index{
    position: relative;
    &:before{
      content: '';
      position: absolute;

      top: -20px;
      height: 59px;
      width: 59px;
      background: url(../img/decor.svg) no-repeat center;
      background-size: contain;
      left: 10%;
      transform: rotate(45deg);
      @include lit-desktop(){
        left: 57%;
      }
      @include tablet(){
        left: 68%;
      }
      @include mobile(){
        display: none;
      }
    }
    &::after{
      content: '';
      position: absolute;
      bottom:26%;
      left:7%;

      height: 39px;
      width: 39px;
      background: url(../img/decor.svg) center center no-repeat;
      background-size: contain;
      transform: rotate(-7deg);
      @include lit-desktop(){
        left: auto;
        right: 50%;
        bottom: 18%;
      }
      @include tablet(){
        display: none;
      }
    }
  }
  &--img {
    .container {
      position: relative;
    }
  }
  background-color: $lightBlock;
  .container {
    padding-top: 48px;
    padding-bottom: 92px;
    @include lit-desktop(){
      padding-top: 19px;
      padding-bottom: 85px;
    }
    @include tablet(){
      padding-top: 19px;
      padding-bottom: 69px;
    }
    @include mobile(){
      padding-top: 0;
      padding-bottom: 0;
    }
    @include lit-mobile(){
      padding-top: 2px;
      padding-bottom: 50px;
    }
  }
  &__title{
    margin: 0 0 36px 0;
    color: $zag;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    .hero--img & {
      max-width: 585px;
    }
    @include lit-desktop(){
      font-size: 48px;
      margin: 0 0 17px 0;
      .hero--img & {
        max-width: 505px;
      }
    }
    @include tablet(){
      font-size: 36px;
      margin: 0 0 14px 0;
      max-width: 500px;
      .hero--img & {
        max-width: 400px;
      }
    }
    @include mobile(){
      font-size: 28px;
      .hero--img & {
        max-width: 320px;
      }
    }
    @include lit-mobile(){
      font-size: 24px;
      line-height: 133%;
      margin: 0 0 8px 0;
      .hero--img & {
        max-width: 70vw;
      }
    }
    span{
      background: linear-gradient(90deg, #6A2CC7 3.3%, #A85DC8 26.34%, #E55962 51.37%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__desc{
    font-size: 20px;
    font-weight: 500;
    line-height: 135%; /* 27px */
    margin: 0 0 26px 0;
    p{
      margin: 0;
    }
    @include lit-desktop(){
      font-size: 18px;
    }
    @include tablet(){
      font-size: 16px;
      line-height: 135%;
      font-weight: 400;
      max-width: 500px;
      margin: 0 0 20px 0;
    }
    @include mobile(){
      font-size: 15px;
      margin: 0 0 16px 0;
    }
    @include lit-mobile(){
      font-weight: 500;
      font-size: 16px;
      line-height: 135%;
    }
  }
  &__content{
    max-width: 70%;
    @include tablet(){
      max-width: 100%;
    }
    .hero--img & {
      max-width: 65%;
      @include tablet(){
        max-width: 505px;
      }
    }
  }
  &__advantages-row{
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    margin: -8px -15px;
    max-width: 636px;
    @include lit-desktop(){
      max-width: 480px;
    }
    @include tablet(){
      max-width: inherit;
      margin: -6px -15px;
    }
    @include lit-mobile(){
      margin: -5px;
    }

  }
  &__advantages-item-container{
    width: 50%;
    padding: 8px 15px;
    box-sizing: border-box;
    @include tablet(){
      padding: 6px 15px;
    }
    @include lit-mobile(){
      padding: 5px;
      width: 100%;
    }
  }

  &__advantages-item{
    &-head{
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 123px;
      height: 48px;
      margin-left: 20px;
      border-radius: 10px;
      color: $white;
      // background: linear-gradient(222deg, #E87E51 4.29%, #6627B9 51.37%, #3D104D 100%);
      background: url(../img/adv-bg.svg) no-repeat center center;
      font-size: 30px;
      font-weight: 800;
      line-height: normal;
      margin-bottom: -24px;


      &:hover{
        z-index: 50;


      }
      @include lit-desktop(){
        font-size: 24px;
        width: 94px;
        height: 37px;
        padding-right: 7px;
        background-size: contain;
        margin-bottom: -18px;
      }
      @include tablet(){
        font-size: 24px;
        margin-left: 16px;
      }
      &--big{
        font-size: 50px;
        @include lit-desktop(){
          font-size: 40px;
        }
        @include tablet(){
          font-size: 40px;
        }
      }
    }
    &-body{
      padding: 34px 20px 16px;
      font-size: 16px;
      font-weight: 600;
      line-height: 135%; /* 21.6px */
      background-color: $white;
      border-radius: 10px;
      @include lit-desktop(){
        font-size: 14px;
        padding: 28px 20px 16px;
      }
      @include tablet(){
        padding: 23px 20px 12px;
      }
      @include mobile(){
        padding: 24px 5px 11px 20px;
      }
    }
    &-tooltip{
      position: absolute;
      left: 100%;
      margin-left: 4px;
      z-index: 2000;
    }
  }
  &__video{
    position: absolute;
    right: 0;
    bottom: 102px;
    // width: 760px;
    width: 39.6%;
    height: 420px;
    @include lit-desktop(){

      width: 447px;
      height: 247px;
      bottom: 170px;
    }
    @include tablet(){
      bottom: -119px;
      width: 50%;
      height: auto;
    }
    @include mobile(){
      position: relative;
      margin-left: auto;
      margin-right: -33px;
      max-width: 454px;
      width: 100%;
      margin-top: -75px;
      bottom: -120px;

    }
    @include lit-mobile(){
      bottom: auto;
      width: calc(100% + 15px);
      margin-right: -15px;
      margin-top: 32px;
    }
    &::before{
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-bottom: -30px;
      height: 59px;
      width: 59px;
      background: url(../img/decor.svg) center center no-repeat;
      background-size: contain;
      transform: rotate(35deg);
      @include lit-desktop(){
        left: 59%;
      }
      @include mobile(){
        left: 56%;
        margin-bottom: -7px;
      }
      @include lit-mobile(){
        display: none;
      }
    }
    video{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px 0px 0px 120px;
      @include tablet(){
        border: 1px solid #f1ecff;
        box-sizing: border-box;
        position: relative;
        max-width: 100%;
        height: auto;
        z-index: 50;
      }
      @include mobile(){
        border-radius: 10px 0 0 117px;
      }
    }
  }
  &__image{
    position: absolute;
    left: calc(65% - 40px);
    bottom: 26px;
    width: 46.6%;
    aspect-ratio: 579 / 554;
    // width: 760px;
    @include lit-desktop(){
      left: auto;
      right: 0;
      width: 478px;
      bottom: 41px;
    }
    @include tablet(){
      width: 344px;
      bottom: 81px;
    }
    @include mobile(){
      position: static;
      width: 100%;
      display: flex;
      justify-content:center;align-items: center;
      aspect-ratio: auto;
    }
    &::before{
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-bottom: -30px;
      height: 59px;
      width: 59px;
      background: url(../img/decor.svg) center center no-repeat;
      background-size: contain;
      transform: rotate(35deg);
      @include lit-desktop(){
        left: 59%;
      }
      @include mobile(){
        left: 56%;
        margin-bottom: -7px;
      }
      @include lit-mobile(){
        display: none;
      }
    }
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
      @include tablet(){
        box-sizing: border-box;
        position: relative;
        max-width: 100%;
        height: auto;
        z-index: 50;
      }
      @include mobile(){
        max-width: 67.6%;
      }
    }
  }
  &__video-play{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 70px;
    z-index: 100;
    @include for-desktop(){
      &:hover{
        .hero__video-iconBg{
          fill: $phiolText;
        }
        .hero__video-iconElem{
          fill: $white;
        }
      }
    }
    &:active{
      .hero__video-iconBg{
        fill: $phiolText;
      }
      .hero__video-iconElem{
        fill: #E1D8FC;
      }
    }
    @include mobile(){
      height: 54px;
      width: 54px;
      bottom: 40px;
    }
    @include lit-mobile(){
      bottom: 0;
    }


  }
  &__btn{

    margin-top: 44px;
    @include lit-desktop(){
      margin-top: 31px;
    }
    @include tablet(){
      margin-top: 37px;
    }
    @include lit-mobile(){
      margin-top: 28px;
      width: 100%;
    }
    .hero--img & {
      margin-top: 0 !important;
    }
  }
  &__video-icon{
    path{
      transition: $transtion
    }
    &Bg{
      fill:$lightDark
    }
    &Elem{
      fill: $phiolText;
    }
  }

  
  &__tags {
    max-width: 646px;
    &:not(:last-child) {margin-bottom: 80px;}
    @include lit-desktop(){
      max-width: 443px;
    }
    @include tablet(){
      max-width: 355px;
      &:not(:last-child) {margin-bottom: 60px;}
    }
    @include mobile(){
      max-width: 100%;
      &:not(:last-child) {margin-bottom: 45px;}
    }
    @include lit-mobile(){
      &:not(:last-child) {margin-bottom: 30px;}
    }
  }

  &__tag {
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.tag {
  color: #734CA5;
  background-color: #E1D8FC;
  border-radius: 10px;
  padding: 7px 16px;
  font-size: 14px;
  &[href], &._hv {
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s;

    @media (any-hover: hover){
      &:hover{
        color: #fff;
        background-color: #734CA5;
      }
    }
  }
}
