.webplatform-analitic {
  background-color: #F1ECFF;
  position: relative;
  i {
    position: absolute;
    bottom: calc((14 / 615) * 100%);
    left: calc((378 / 1920) * 100%);

    @media (width < 768px){
      display: none;
    }
  }

  &__container {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    gap: 47px;
    @media (width >= 768px){
      grid-template-columns: 1.13fr 1fr;
    }

    @media (width < 1250px){
      padding-top: 80px;
      padding-bottom: 80px;
      gap: 30px 0;
    }
    @media (width < 992px){
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media (width < 600px){
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @media (width < 480px){
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__head {
  }

  &__title {
    &:not(:last-child) {margin-bottom: 30px}
    @media (width < 1250px){
      &:not(:last-child) {margin-bottom: 28px}
    }
    @media (width < 992px){
      &:not(:last-child) {margin-bottom: 24px}
    }
    @media (width < 600px){
      &:not(:last-child) {margin-bottom: 20px}
    }
    @media (width < 480px){
      &:not(:last-child) {margin-bottom: 15px}
    }
  }

  &__desc {
    font-weight: 500;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: #E1D8FC;
    border-radius: 10px;
    @media (width < 992px){
      padding: 20px 16px;
    }
    @media (width < 600px){
      padding: 16px;
      gap: 16px;
    }
    @media (width < 480px){
      padding: 14px;
      gap: 10px;
    }
  }

  &__icon {
    aspect-ratio: 26 / 24;
    flex: 0 0 26px;
    display: flex;
    justify-content:center;align-items: center;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.35;
    @media (width < 992px){
      font-size: 14px;
    }
  }
}