.webplatform-evolution {
  background-color: #F1ECFF;
  position: relative;

  i {
    position: absolute;
    @media (width < 1250px){
      display: none;
    }
    &:first-of-type{
      top: calc((705 / 938) * 100%);
      left: calc((93 / 1920) * 100%);
    }
    &:last-of-type{
      top: calc((96 / 938) * 100%);
      right: calc((230 / 1920) * 100%);
    }
  }

  &__container {
    padding-top: 100px;
    padding-bottom: 100px;

    @media (width < 1250px){
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @media (width < 992px){
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media (width < 600px){
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @media (width < 480px){
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__title {
    max-width: 991px;
    font-size: 46px;
    line-height: 1.2;
    &:not(:last-child) {margin: 0 0 60px 0}

    @media (width < 1250px){
      font-size: 36px;
      &:not(:last-child) {margin: 0 0 50px 0}
    }
    @media (width < 992px){
      font-size: 32px;
      &:not(:last-child) {margin: 0 0 40px 0}
    }
    @media (width < 600px){
      font-size: 28px;
      &:not(:last-child) {margin: 0 0 24px 0}
    }
    @media (width < 480px){
      font-size: 24px;
      &:not(:last-child) {margin: 0 0 20px 0}
    }

    span{
      background: linear-gradient(90deg, #6A2CC7 3.3%, #A85DC8 26.34%, #E55962 51.37%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__body {
    display: grid;
    align-items: center;
    column-gap: 100px;
    row-gap: 60px;
    @media (width < 1250px){
      column-gap: 30px;
    }
    @media (width < 600px){
      row-gap: 40px;
    }
    @media (width < 480px){
      row-gap: 20px;
    }
    @media (width >= 1024px){
      grid-template-columns: 1.5fr 1fr;
    }
  }

  &__content {
    h3 {
      &:not(:last-child) {margin-bottom: 30px;}
      @media (width < 1250px){
        &:not(:last-child) {margin-bottom: 50px;}
      }
      @media (width < 992px){
        &:not(:last-child) {margin-bottom: 20px;}
      }
      @media (width < 480px){
        &:not(:last-child) {margin-bottom: 14px;}
      }
    }
    p {
      font-weight: 500;
      &:not(:last-child) {margin-bottom: 30px;}
      @media (width < 992px){
        &:not(:last-child) {margin-bottom: 20px;}
      }
    }
  }

  &__image {
    border-radius: 10px;
    overflow: hidden;

    >* {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      @media (width >= 1024px){
        min-height: 516px;
      }
    }
  }
}

.gradtext {
  background: linear-gradient(90deg, #6A2CC7 3.3%, #A85DC8 26.34%, #E55962 51.37%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}