.webplatform-possibilities {
  position: relative;

  >i {
    position: absolute;
    &:first-of-type{
      top: calc((244 / 2300) * 100%);
      left: calc((200 / 1920) * 100%);
    }
    &:last-of-type{
      top: calc((507 / 2300) * 100%);
      right: calc((98 / 1920) * 100%);
    }
    @media (width < 1250px){
      display: none;
    }
  }

  &__container {
    padding-top: 120px;
    padding-bottom: 120px;

    display: grid;
    align-items: start;
    gap: 55px;

    @media (width >= 992px){
      grid-template-columns: 1fr 1.45fr;
    }
    @media (width < 1250px){
      padding-top: 100px;
      padding-bottom: 100px;
      gap: 28px;
    }
    @media (width < 992px){
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @media (width < 769px){
      gap: 30px;
    }
    @media (width < 600px){
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media (width < 480px){
      padding-top: 40px;
      padding-bottom: 40px;
      gap: 20px;
    }
  }

  &__head {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    max-width: 485px;
    @media (width >= 992px){
      position: sticky;
      top: 15px;
      left: 0;
    }
    >i {
      display: none;
      @media (992px < width < 1250px) {
        display: block;
        margin-left: auto;
        margin-top: 90px;
      }
      @media (width < 992px){
        display: block;
        position: absolute;
        right: 0;
        bottom: 30px;
      }
    }

    >* {
      &._transition-out {
        translate: 100% 0;
        opacity: 0;
      }
      &._transition-in {
        translate: -100% 0;
        opacity: 0;
      }
      &._absolute {
        position: absolute;
      }
    }
  }

  &__title {
    transition: all 0.5s ease 0s;
    hyphens: manual;
    word-wrap: normal;
  }

  &__desc {
    font-weight: 500;
    transition: all 0.5s ease 0.1s;
  }

  &__body {
  }

  &__item {
    background-color: #F1ECFF;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
    padding: 30px;
    --image-size: 180px;
    display: grid;
    grid-template-columns: auto var(--image-size);
    column-gap: 5px;
    color: #1D1C1E;
    line-height: 1.35;

    &:not(:last-child) {margin-bottom: 20px;}
    @media (width < 992px){
      padding: 20px;
    }
    @media (width < 769px){
      &:not(:last-child) {margin-bottom: 18px;}
    }
    @media (width < 600px){
      &:not(:last-child) {margin-bottom: 16px;}
    }
    @media (width < 480px){
      padding: 18px;
      &:not(:last-child) {margin-bottom: 14px;}
    }

    &._active {
      background-color: #734CA5;
      color: #fff;
    }
  }

  &__itemtitle {
    font-weight: 700;
    font-size: 30px;
    align-self: center;

    @media (width < 1250px){
      font-size: 24px;
    }
    @media (width < 769px){
      font-size: 20px;
    }
    @media (width < 480px){
      font-size: 16px;
    }
  }

  &__itemtext {
    font-weight: 500;
    font-size: 18px;

    @media (width < 1250px){
      font-size: 16px;
    }
    @media (width < 769px){
      font-size: 15px;
    }
    @media (width < 480px){
      font-size: 13px;
    }
  }

  &__itemimage {
    grid-row: 1 / span 2;
    grid-column-start: 2;
    align-self: center;
  }
}
