.webplatform-simple {
  position: relative;
  >i {
    position: absolute;
    top: calc((369 / 795) * 100%);
    right: calc((144 / 1920) * 100%);

    @media (width < 1250px){
      top: calc((143 / 753) * 100%);
      right: calc((30 / 1024) * 100%);
      width: 63px;
      height: 63px;
      >* {
        width: 100%;
        height: 100%;
      }
    }
    @media (width < 767px){
      display: none;
    }
  }

  &__container {
    padding-top: 120px;
    padding-bottom: 47px;
    @media (width < 1250px){
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @media (width < 992px){
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @media (width < 600px){
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media (width < 480px){
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__head {
    &:not(:last-child) {margin-bottom: 50px;}
    @media (width < 1250px){
      &:not(:last-child) {margin-bottom: 40px;}
    }
    @media (width < 992px){
      &:not(:last-child) {margin-bottom: 30px;}
    }
    @media (width < 600px){
      &:not(:last-child) {margin-bottom: 20px;}
    }
  }

  &__title {
  }

  &__desc {
    margin: 20px 0 0 0;
    font-weight: 500;

    @media (width < 1250px){
      max-width: 550px;
    }
  }

  &__body {
    display: grid;
    gap: 20px;
    @media (width >= 768px){
      grid-template-columns: repeat(3, 1fr);
    }
    @media (width < 1250px){
      gap: 15px;
    }
    @media (width < 600px){
      gap: 16px;
    }
  }

  &__item {
    background-color: #F1ECFF;
    border-radius: 10px;
    overflow: hidden;

    @media (540px < width < 768px){
      display: flex;
      align-items: center;
    }
  }

  &__image {
    aspect-ratio: 2 / 1;
    overflow: hidden;
    width: 100%;
    >* {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @media (540px < width < 768px){
      width: 260px;
      flex: 0 0 260px;
    }
  }

  &__text {
    padding: 20px;
    font-size: 18px;
    line-height: 1.35;
    @media (width < 1250px){
      font-size: 16px;
    }
    @media (width < 992px){
      padding: 16px;
      font-size: 14px;
    }
    @media (width < 480px){
      padding: 14px;
    }
  }
}